.DS_Store
.data/
log/
notes.md
*.db
*.pyc
chains.json
/log/bak/*
/.data/*
/.idea/*
/prometheus/prometheus.yml
/loki/loki-config.yml
/grafana_provisioning/datasources/*.yaml
/grafana_provisioning/alerting/contactpoint.yaml
/clients/promtail/promtail-config.yml
/clients/bcexporter/config/config.yml
/docker-compose.yml
/clients/docker-compose.yml